fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
python-multipart==0.0.6

# Vāgdhene dependencies
git+https://github.com/ai4bharat/IndicF5.git@13f7c4d627cc10111aea8fe9c0039462cacacdc7
transformers==4.46.3
accelerate==0.34.2
vocos==0.1.0
x-transformers==2.19.7
numpy==1.26.4
librosa==0.11.0
soundfile
huggingface_hub
indic-transliteration
torch
torchaudio

faster-whisper==1.1.0
